<!-- <app-header></app-header> -->

<div class="px-4 mt-4 mb-4">
  <div class="flex flex-col items-center mb-4">
    <div class="flex flex-wrap justify-center w-full p-4 bg-gray-100 border rounded-xl">
      <div class="flex items-center mr-4">
        <label class="mr-2" for="empleado">Empleado:</label>
        <input type="text" [(ngModel)]="usuario.nombre" name="empleado" id="empleado"
          class="w-full max-w-sm p-1 border border-gray-300 rounded-xl" />
      </div>

      <div class="flex items-center mr-4">
        <label class="mr-2" for="email">Email:</label>
        <input type="email" [(ngModel)]="usuario.email" name="email" id="email"
          class="w-full max-w-sm p-1 border border-gray-300 rounded-xl" />
      </div>

      <div class="flex items-center mr-4">
        <label class="mr-2" for="puesto">Puesto:</label>
        <input type="text" [(ngModel)]="usuario.puesto" name="puesto" id="puesto"
          class="w-full max-w-sm p-1 border border-gray-300 rounded-xl" />
      </div>

      <div class="flex items-center mr-4">
        <label class="mr-2" for="telefono">Teléfono:</label>
        <input type="number" [(ngModel)]="usuario.telefono" name="telefono" id="telefono"
          class="w-full max-w-sm p-1 border border-gray-300 rounded-xl" />
      </div>

      <div class="flex items-center mr-4">
        <label class="mr-2" for="estado">Estado:</label>
        <select class="w-full max-w-sm p-1 border border-gray-300 rounded-xl" [(ngModel)]="usuario.estado" name="estado"
          id="estado">
          <option value="ONLINE">ONLINE</option>
          <option value="OFFLINE">OFFLINE</option>
        </select>
      </div>

      <div *ngIf="errorMessage" class="py-4 font-bold text-center text-red-500">
        {{errorMessage}}
      </div>
      
      <div class="flex justify-center w-full mt-4 space-x-4">
        <button (click)="altaUsuario()"
          class="flex items-center px-4 py-2 text-white bg-black rounded hover:bg-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
            stroke-width="2" class="w-4 h-4 mr-2">
            <path
              d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
            </path>
          </svg>
          Agregar
        </button>
        <button (click)="editarUsuario()"
          class="flex items-center px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
            class="w-4 h-4 mr-2">
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z">
            </path>
          </svg>
          Actualizar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!hayRegistros();">
    <p class="text-center text-blue-500">No hay usuarios registrados. <b>¡Agregá ahora!</b></p>
  </div>

  <div class="w-full mx-auto mt-4">
    <div class="relative flex flex-col w-full h-full bg-white border shadow-xl text-slate-700 rounded-xl bg-clip-border">
      <div class="relative mx-4 mt-4 bg-white rounded-none text-slate-700 bg-clip-border">
        <div class="flex items-center justify-between ">
          <div>
            <h3 class="text-lg font-semibold text-slate-800">Lista de Empleados</h3>
            <p class="text-slate-500">Revisa a cada persona antes de editar</p>
          </div>
          <span class="text-sm text-slate-500">Importante: Actualizar página con F5 si los datos no aparecen inmediatamente.</span>
          <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
            <!-- <div class="flex items-center justify-between p-3"> -->
              <div *ngIf="totalEmpleados > 0">
                <h3>Porcentaje de empleados <span class="font-semibold text-green-600">ONLINE</span>: <b class="px-2 text-indigo-600 bg-indigo-100 rounded">{{ porcentajeOnline.toFixed(2) }}%</b></h3>
                <p>Total empleados: <b class="px-2 text-indigo-600 bg-indigo-100 rounded">{{ totalEmpleados }}</b></p>
                <p>Empleados <span class="font-semibold text-green-600">ONLINE</span>: <b class="px-2 text-indigo-600 bg-indigo-100 rounded">{{ empleadosOnline }}</b></p>
              </div>
            <!-- </div> -->
          </div>
        </div>

      </div>
      <div class="p-0">
        <table class="w-full mt-4 text-left table-auto min-w-max" *ngIf="hayRegistros();">
          <thead>
            <tr>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Empleado/a
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                </p>
              </th>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Puesto
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                </p>
              </th>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Número de Contacto
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                </p>
              </th>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Estado
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                </p>
              </th>
              <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Registro/Actualización
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                  </svg>
                </p>
              </th>
              <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Editar
                </p>
              </th>
              <th class="p-4 transition-colors border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                <p
                  class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                  Eliminar
                </p>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td class="p-4 border-b border-slate-200">
                <div class="flex items-center gap-3">
                  <img src="https://github.com/pablotorrez15.png" alt="Icono"
                    class="relative inline-block h-9 w-9 !rounded-full object-cover object-center" />
                  <div class="flex flex-col">
                    <p class="text-sm font-semibold text-slate-700">
                      {{usuario.nombre}}
                    </p>
                    <p class="text-sm text-slate-500">
                      {{usuario.email}}
                    </p>
                  </div>
                </div>
              </td>
              <td class="p-4 border-b border-slate-200">
                <div class="flex flex-col">
                  <p class="text-sm font-semibold text-slate-700">
                    {{usuario.puesto}}
                  </p>
                  <p class="text-sm text-slate-500">
                    Organization
                  </p>
                </div>
              </td>
              <td class="p-4 border-b border-slate-200">
                <div class="flex flex-col">
                  <!-- <p class="text-sm font-semibold text-slate-700">
                  Teléfono
                </p> -->
                  <p class="text-sm text-slate-500">
                    (+54){{usuario.telefono}}
                  </p>
                </div>
              </td>
              <td class="p-4 border-b border-slate-200">
                <div class="w-max">
                  <div [ngStyle]="{
                  backgroundColor: usuario.estado === 'ONLINE' ? 'rgba(76,175,80,0.2)' : 'rgba(244,67,54,0.2)',
                  color: usuario.estado === 'ONLINE' ? 'green' : 'red'
                }"
                    class="relative grid items-center px-2 py-1 font-sans text-xs font-bold uppercase rounded-md select-none whitespace-nowrap">
                    <span class="">{{usuario.estado}}</span>
                  </div>
                </div>
              </td>
              <td class="p-4 border-b border-slate-200">
                <p class="text-sm text-slate-500">
                  R: {{usuario.fecha_registro}}
                  <br>
                  A: {{usuario.fecha_actualizacion}}
                </p>
              </td>
              <td class="p-4 border-b border-slate-200">
                <button (click)="seleccionarUsuario(usuario.idUsuario)"
                  class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-slate-900 transition-all hover:bg-slate-900/10 active:bg-slate-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button">
                  <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      class="w-4 h-4">
                      <path
                        d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z">
                      </path>
                    </svg>
                  </span>
                </button>
              </td>
              <td class="p-4 border-b border-slate-200">
                <button (click)="bajaUsuario(usuario.idUsuario)"
                  class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-red-600 transition-all hover:bg-red-600/10 active:bg-red-600/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button">
                  <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      class="w-4 h-4">
                      <path d="M6 7v14a1 1 0 001 1h10a1 1 0 001-1V7H6zm11-5H7a1 1 0 00-1 1v1h12V3a1 1 0 00-1-1z" />
                    </svg>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->