header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 1em;
    z-index: 1000;
}

header ul {
    background: #dad3d375;
    backdrop-filter: blur(5px);
    gap: 10px;
    border-radius: 50px;
}

header ul>li>a{
    border-radius: 15px;
    padding: 6px 11px;
}

header ul>li>a:hover {
    background: #ffffff7c !important;
}