<header class="flex justify-center">
    <ul class="menu menu-horizontal p-4 flex flex-row mt-3">
        <li>
            <!-- <a href="https://github.com/pblnahu1" rel="noopener noreferrer" class="" data-tip="GitHub" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub
            </a> -->
            <a href="#" rel="noopener noreferrer" class="" data-tip="Inicio" target="_blank">
                Inicio
            </a>
        </li>
        <li>
            <!-- <a href="https://www.linkedin.com/in/pablo-nahuel-torrez-33a80324b/" rel="noopener noreferrer" class=""
                data-tip="LinkedIn" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a> -->
            <a href="#" rel="noopener noreferrer" class="" data-tip="Contacto" target="_blank">
                Contacto
            </a>
        </li>
        <!-- <li>
            <a href="https://portfolio-dev-lilac.vercel.app/" rel="noopener noreferrer" class="" data-tip="Portfolio"
                target="_blank">
                <i class="fa-solid fa-briefcase"></i> Portfolio
            </a>
        </li> -->
        <li>
            <a href="#" rel="noopener noreferrer" class="link-pages bg-gray-300 tooltip tooltip-bottom"
                data-tip="¡Registrate y guardá tu progreso!">
                <i class="fa-solid fa-user"></i> Registrarse
            </a>
        </li>
    </ul>
</header>